* {
    margin: 0;
}

/* #region Nav */
nav {
    background-color: #63458a;
    display: flex;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    width: 100%;
    align-items: center;
    padding: 5px 0;
}

nav ul {
    display: none;
}

.menu {
    width: 7%;
    margin-right: 3%;
}

.logo {
    width: 33%;
    margin-left: 3%;
}
/* #endregion */

/* #region Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/bg-banner-claro.png);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    width: 100%;
    font-family: 'Montserrat', cursive;
    color: white;
}

.header-sobre {
    background: url(../img/bg-banner-escuro.png);
    min-height: 28vh;
    background-size: 666px;
    background-position: 44% center;
    width: 100%;
    font-family: 'Montserrat', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

h3 {
    margin-left: 35px;
    font-size: 47px;
    text-transform: uppercase;
}

h1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 2px 1px gray;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

header div {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 13px;
}

header a {
    padding: 11px;
    background-color: #b288c0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    border-radius: 2px;
}
/* #endregion */

/* #region intro */

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 44vh;
    font-size: 12px;
    color: white;
    background: linear-gradient(to right, #7e5a9b, #b288c0);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}

.intro div {
    width: 62%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro img {
    width: inherit;
}

.intro p {
    margin-bottom: 5px;
    line-height: 1.3;
    letter-spacing: 1px;
}

/* #endregion */

/* #region Perfis */

.fotos-mulheres2 {
    display: none;
}

.perfis {
    background: #f2f1f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotos-mulheres {
    margin: 3% 0;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-gap: 58px;
    justify-content: center;
}

.link-mulheres img {
    width: 100%;
    height: 108px;
    object-fit: cover;
    border-radius: 19px;
    margin-bottom: 1px;
}

.identificacao {
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: #63458a;
    font-family: Montserrat;
}

h2 {
    text-align: center;
    padding: 12px 0;
    font-size: 19px;
    color: #613e8f;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
}

.vejamais {
    padding: 11px;
    background-color: #b288c0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    border-radius: 2px;
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 10px;
}
/* #endregion */

/* #region criadoras */

.criadoras {
    background: #63458a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criadoras h2 {
    color: white;
}

.containeravatares {
    margin: 3% 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 24px 12px;
    justify-content: center;
}

.avatar {
    width: 87%;
    height: 95px;
    object-fit: cover;
    margin-bottom: 1px;
    margin-left: 10px;
}

.avatar2 {
    display: none;
}

.containeravatares2 {
    display: none;
}

/* #endregion */

/* #region footer */

.footer-maior {
    background: rgb(102, 102, 102);
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 13px;
    padding: 21px 0;
}

ul li {
    margin-bottom: 8px;
}

ul li a {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;

}

.logofooter {
    width: 58%;
}

.facebook {
    width: 6%;
}

.creditos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 84%;
    text-align: center;
    color: white;
}

.creditos p {
    font-style: italic;
    font-family: Roboto;
    font-size: 13px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.social a {
    font-family: Montserrat;
    color: white;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 15px;
    margin-left: 5px;
}

.direitos {
    background: rgb(51, 51, 51);
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 10px;
    padding: 8px 0 8px 0;
    text-align: center;
}

/* #endregion */

/* #region sobre */

.texto-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.texto-historia img {
    width: 100%;
    padding-bottom: 33px;
}

.h2-sobre {
    color: #7e5a9b;
    text-align: center;
    padding: 12px 0;
    font-size: 19px;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;

}

.texto-historia > div {
    width: 83%;
}

.dados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados > div {
    width: 83%;
    text-align: center;
}

.paragrafo{
    font-family: 'Roboto';
    color: #63458a;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 500;
}

.paragrafo p {
    padding-bottom: 5px;
}

.dados > div {
    font-family: 'Roboto';
    color: #63458a;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 500;
    width: 68%;
    padding-bottom: 10px;
}

span {
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.programadoras {
    background: linear-gradient(to right, #7e5a9b, #b288c0);
}

.equipecontainer {
    display: flex;
    flex-wrap: wrap;
}

.mae {
    position: relative;
}

.mae > div {
    display: inline-block;
    width: 100px;
}

.mae img {
    max-width: 100%;
}

.filha {
    position: absolute;
    bottom: 5px;
    left: 2px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    color: #63458a;
    text-align: center;
}
/* #endregion */

/* #region perfis */

.banco-de-mulheres {
    display: flex;
    flex-wrap: wrap;
    width: 87%;
    margin: 0 auto;
    padding-top: 20px;
}
.banco-de-mulheres img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.banco-de-mulheres > div {
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.banco-de-mulheres p {
    font-size: 11px;
    font-family: Montserrat;
    color: #563681;
}
/* #endregion */

